{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "parser": "babel-eslint",

  "rules": {
    "react/no-find-dom-node": 0,
    "react/no-render-return-value": 0
  }
}
